.product-filtering-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 130px;
}
.mobile-filters-button{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 740px) {
    .product-filtering-section{
        padding-top: 20px;
        justify-content: flex-start;
        align-items: center;
    }
    .mobile-category-section, .mobile-rating-section{
        text-align: center;
    }
    h4 {
        margin: 10px;
    }
    .mobile-filters-button{
        display: flex;
    }
    .rating-section, .category-section, .clear-button{
        display: none;
    }
    .rating-list{
        margin-left: 20%;
    }
}

.searching-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(222, 238, 246);
    margin-left: 0;

}
.searching-section input {
    outline: none;
    border: none;
    padding: 0 10px;
    background: inherit;
}
.category-section, .rating-section, .mobile-category-section, .mobile-rating-section{
    margin-left: 0;
}
.category-button{
    margin: 5px;
}
.rating-list {
    list-style-type: none;
    display: flex;
    padding: 0;
}
.rating-list li{
    width: 50px;
}
.clear-filters-button{
    font-weight: 600;
    font-size: 10px;
    padding: 8px 16px;
    color: #ffffff;
    background-color: #0967d2;
    border: none;
    border-radius: 4px;
    margin-left: 14px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}
.absolute-display-button{
    margin-left: 40%;
}
